:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}
body {
  font-family: "Roboto", "Raleway" sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}
.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*====COMPONENTS====*/
/*====END COMPONENTS====*/

/*====HEADER====*/

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}
span {
  color: var(--main-color);
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 254px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mail {
  margin-left: 371px;
  width: 135px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus {
  color: var(--main-color);
}

.mail,
.phone-number {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.phone-number {
  font-style: normal;
  margin-left: 50px;
  width: 110px;
}

.mail-number-list {
  display: flex;
  align-items: center;
}
/*====END HEADER====*/

/*====section HERO====*/

.section-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_section_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  height: 600px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
  width: 696px;
  margin: auto;
}

.module-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 41px;
  margin: auto;
}

/*====END HERO====*/

/*====section Lorem Ipsum====*/

.section-lorem-ipsum .container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.lorem-ipsum-list {
  display: flex;
  align-items: center;
}

.lorem-ipsum-item:not(:last-child) {
  margin-right: 30px;
}

.lorem-ipsum-item {
  width: 270px;
}

.lorem-ipsum-container-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
}

.lorem-ipsum-icon {
  width: 70px;
  height: 70px;
  align-items: center;
}

.section-lorem-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.section-lorem-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*====section about us====*/

.about-us-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.about-us-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-us-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-item {
  width: 370px;
}
/*====section our team====*/

.our-team {
  background-color: #f5f4fa;
  margin-bottom: 15px;
}

.our-team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.our-team-list {
  display: flex;
  align-items: center;
  width: 1170;
}

.our-team-photo {
  width: 270px;
  height: 260px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-item {
  background-color: #ffffff;
}
.our-team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

.main-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.our-team-role {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-media {
  width: 206px;
  margin: 16px 32px 30px;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-item {
  border-radius: 50%;
}

.social-media-link {
  display: flex;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
}

.social-media-link:hover,
.social-media-link:focus,
.social-icon:hover,
.social-icon:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.social-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

/*====section our clients====*/

.our-clients-list {
  display: flex;
  align-items: center;
}
.our-clients-item {
  display: flex;
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
}
.our-clients-item:not(:last-child) {
  margin-right: 30px;
}
.our-clients-icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

/*====footer====*/

.contact {
  background-color: #2f303a;
}

.contact-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contact-logo-padding {
  margin-top: 58px;
  margin-bottom: 20px;
}
.main-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 75px;
}

.main-address-street {
  color: #ffffff;
  text-decoration: none;
}
.main-address-mail,
.main-address-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.main-address-street:hover,
.main-address-street:focus,
.main-address-mail:hover,
.main-address-mail:focus,
.main-address-phone:hover,
.main-address-phone:focus {
  color: var(--main-color);
}

.footer-container {
  display: flex;
  align-items: center;
}

.flex-container-right {
  width: 206px;
  margin-left: 70px;
  margin-top: 72px;
  margin-bottom: 100px;
}
.social-media-text {
  font-family: var(--main-font);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 20px;
}

.footer-social-media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-media-item {
  border-radius: 50%;
}

.footer-social-media-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  width: 44px;
  height: 44px;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus,
.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: #ffffff;
  background-color: var(--main-color);
  cursor: url("../images/finger3.svg");
}

.footer-social-icon {
  display: flex;
  width: 20px;
  height: 20px;
}
/*====PORTFOLIO BOOKMARK====*/

.portfolio-button {
  display: flex;
  justify-content: center;
}

.portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 50px;
  border-style: none;
}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
  color: #ffffff;
  background-color: var(--main-color);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3-30px);
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
}

.portfolio-type {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
}

.box-title-type {
  padding-right: 24px;
  padding-left: 24px;
}
/*====END PORTFOLIO BOOKMARK====*/
